/target/
.classpath
.DS_Store
.project
*.prefs
*.jar
lib/Android/AndroidManifest.xml
lib/Android/arm64-v8a/libjSerialComm.so
*.so
*.class
lib/OSX/x86_64/libjSerialComm.jnilib
*.dll
lib/META-INF/MANIFEST.MF
miglayout-src.zip
/bin/
/lib/
/.settings/
